/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.light-style .menu .app-brand.demo {
  height: 64px;
}

.dark-style .menu .app-brand.demo {
  height: 64px;
}

.app-brand-logo.demo svg {
  width: 38px;
  height: 20px;
}

.app-brand-text.demo {
  font-size: 40px;
  letter-spacing: 0.15px;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1.25rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 300px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}
/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1.25rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1.25rem;
}

.authentication-wrapper .divider-text{
  font-size: 30px !important;
  color: var(--primary-color) !important;
  font-weight: 600;
}
.div_btn_floating{
  background-color: red;
}

.btn-floating {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1000;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 10px !important;
  width: inherit !important;
  height: inherit !important;
}

.btn-floating:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1); /* Efecto de ampliación al pasar el ratón */
  transition: all 0.2s ease-in-out;
}

.section-title{
  padding-bottom: 20px;
  position: relative;
}

.section-sub_title{
  position: relative;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--primary-color), transparent 30%);
  position: relative;
}

.section-title h2::after{
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--primary-color);
  margin: 4px 10px;
}

.section-title p {
  color: var(--heading-color);
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-sub_title h2 {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  line-height: 15px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--primary-color), transparent 30%);
  position: relative;
  margin-bottom: 5px;
}

.section-sub_title p {
  color: var(--heading-color);
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-sub_title-2 h2 {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--primary-color), transparent 40%);
  position: relative;
}

.section-sub_title-2 p {
  color: var(--heading-color);
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.table-white{
  background-color: #ffffff !important;
}

.center-celda{
  text-align: center;
  vertical-align: middle;
}

@keyframes slideIn {
  0% {
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
}
  100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
}

.slide-in {
  animation: slideIn 0.25s ease-out forwards;
  -webkit-animation: slideIn 0.25s ease-out forwards;
}

.pr-0{
  padding-right: 0px !important;
}